@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme {
  --breakpoint-xs: "475px";
}

@utility prose {
  aside {
    border: 1px solid;
    border-radius: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    box-shadow: -8px 8px 0 0.5px black;
    @media (prefers-color-scheme: dark) {
      box-shadow: -8px 8px 0 0.5px white;
    }
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  --foreground-rgb: rgb(2, 6, 23);
  --background-rgb: rgb(248, 250, 252);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgb(248, 250, 252);
    --background-rgb: rgb(7, 7, 32);
  }
}

html {
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground-rgb);
  background: var(--background-rgb);
}
