@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(2, 6, 23);
  --background-rgb: rgb(248, 250, 252);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgb(248, 250, 252);
    --background-rgb: rgb(2, 6, 2);
  }
}

html {
  scrollbar-gutter: stable;
}

body {
  color: var(--foreground-rgb);
  background: var(--background-rgb);
  
}